/* #root { */
/* text-align: center; */
/* } */

h1 {
  margin-left: 20px;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  line-height: 1.5;
}

input {
  width: 160px;
  height: 80px;
  display: inline;
  border: none;
  border-radius: 30px;
  margin: 20px;
  text-align: center;
  font-size: 24px;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 30px;
  font-size: 24px;
  margin: 20px;
  text-align: center;
  width: 160px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 500;
  display: block;
  /* background-color: green; */
}

#pointForm {
  display: flex;
  align-items: center;
  margin: 50px;
  justify-content: space-around;
  /* background-color: green; */
}

.graph {
  background-color: rgb(255, 255, 255);
  width: 830px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.point {
  /* background-color: red; */
}

.func-button {
  /* background-color: blue; */
}

.passing-input{
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.passing{
  font-size: 24px;
}