/* #root { */
/* text-align: center; */
/* } */

h1 {
  margin-left: 200px;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  line-height: 1.5;
}

.point input {
  width: 80px;
  height: 40px;
  display: inline;
  border: none;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  margin: 20px;
  text-align: center;
  width: 80px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 500;
}

#pointForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.graph {
  background-color: rgb(255, 255, 255);
  width: 830px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
